/* variables = un espacio de memoria */ /* MIXIN = ES UNBLOQUE DE CODIGO QUE PODEMOS GENERAR Y REPETIR A LO LARGO DEL PROYECTO */
.marcas-header {
  padding: 0.6rem;
  box-shadow: 0rem 0rem 0.2rem 0rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.marcas-navbar {
  font-size: 1.8rem;
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
}
.marcas-navbar li a {
  color: beige;
  font-weight: 500;
}

.main {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(1 1fr);
  grid-template-rows: repeat(3 1fr) 25rem;
  grid-template-areas: "section1" "section2" "section3";
  justify-items: center;
  align-items: center;
  justify-content: space-evenly;
}

.marcas-logo {
  width: 100%;
  height: 100%;
  display: flex;
  display: grid;
  grid-template-columns: repeat(4 25%);
  grid-template-rows: repeat(2 50%);
  grid-template-areas: "logo1 logo2 logo4 logo3" "logo5 logo6 logo7 logo8";
  gap: 5rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.marcas-logo .logo1 {
  background-color: rgba(128, 128, 128, 0.403);
  border-radius: 2rem;
  grid-area: logo1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.marcas-logo .logo1:hover {
  font-size: 15rem;
}
.marcas-logo .logo2 {
  grid-area: logo2;
  background-color: rgba(128, 128, 128, 0.403);
  border-radius: 2rem;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
}
.marcas-logo .logo3 {
  grid-area: logo3;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: rgba(128, 128, 128, 0.403);
  border-radius: 2rem;
  padding: 4.8rem 1rem 4.8rem 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.marcas-logo .logo4 {
  grid-area: logo4;
  overflow: hidden;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: rgba(128, 128, 128, 0.403);
  border-radius: 2rem;
  padding: 5.8rem 1rem 5.8rem 1rem;
  display: flex;
  flex-wrap: wrap;
}
.marcas-logo .logo5 {
  grid-area: logo5;
  overflow: hidden;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.403);
  border-radius: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.marcas-logo .logo6 {
  grid-area: logo6;
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: rgba(128, 128, 128, 0.403);
  border-radius: 2rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
.marcas-logo .logo7 {
  grid-area: logo7;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  overflow: hidden;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: rgba(128, 128, 128, 0.403);
  border-radius: 2rem;
}
.marcas-logo .logo8 {
  grid-area: logo8;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  background-color: rgba(128, 128, 128, 0.403);
  border-radius: 2rem;
}

.explorar-mas {
  background-color: rgb(57, 57, 136);
  font-size: 2.5rem;
  padding: 0.5rem 2rem 0.5rem 2rem;
  text-transform: uppercase;
  border-radius: 2rem;
  box-shadow: 0rem 0rem 0.4rem 0rem;
}
.explorar-mas .boton-explorar-mas {
  padding: 4rem 0rem 4rem 0rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=style.css.map */