.footer{
    .container{
        .pt-4{
            .row{
                .col-6{
                    width: auto;
                    h5{
                        font-size: 2rem;
                        text-shadow: 0.2rem 0.2rem 0.2rem rgba(210, 105, 30, 0.7);
                    }
                    .nav{
                        
                        .nav-item{
                            font-size: 1.5rem;
                            color: black;
                            text-shadow: 0.2rem 0.2rem 0.2rem rgba(210, 105, 30, 0.7);
                        }
                    }
                }
                .col-md-5{
                    flex-direction: column;
                    justify-content: center;
                    align-content: center;
                    padding-top: 5rem;
                    form{
                        width: 100%;
                    }
                }
            }
        }
    }
}