.marcas-hero{
    background-image: url(../assets/img/fondo-header.jpg);
    @include hero(100%,100%,no-repeat,cover,center);
}
.marcas-main {
    @include grid(repeat(1 1fr),repeat(3 1fr),"seccion1,secion2,seccion3",center,center,0rem,100%,100%);
    .seccion1{
        grid-template-areas: seccion1;
        div{
            h2 {
                @include caract-h2;
            }
            h3 {
                @include caract-h3;
            }
        }
    }
    .seccion2{
        grid-template-areas: seccion2;
    }
    .seccion3{
        grid-template-areas: seccion3;
        .boton-explorar-mas {
            padding: 4rem 0rem 4rem 0rem;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .explorar-mas {
                background-color: rgb(57, 57, 136);
                font-size: 2.5rem;
                padding: 0.5rem 2rem 0.5rem 2rem;
                text-transform: uppercase;
                border-radius: 2rem;
                box-shadow: 0rem 0rem 0.4rem 0rem;
            }
        }
    }
}