@media (max-width:2520px){
    .logo-w {
        img{
            width: 5rem;
            height: 5rem;
            position: fixed;
            right: 1.5rem;
            bottom: 7rem;
        }
    }
}