@media (max-width:1440px){
    .index-articulo-1{
        .articulo1{
            h4{
                @include caract-h4;
                text-align: center;
                font-size: 3rem;
            }
            p{
                text-align: center;
                font-size: 2.6rem;
                font-weight: 300;
                word-spacing: 0.5rem;
                line-height: 2.8rem;
            }
        }
    }
    .index-seccion-secundaria{
        div{
            .sitios-web{
                .logo-google{
                    border-radius: 5rem;
                    background-color: $color-fondo-logos;
                }
            }
        }
    }
}