@media (max-width:1024px) {
    .index-articulo-1{
        .articulo1{
            h4{
                @include caract-h4;
                text-align: center;
            }
            p{
                font-size: 1.8rem;
                text-align: center;
                padding: 0rem 1rem 0rem 1rem;
            }
        }
        img{
            width: 50%;
            height: 50%;
        }
    }
    .index-seccion-secundaria{
        div{
            .sitios-web{
                .logo-google{
                    border-radius: 5rem;
                    background-color: $color-fondo-logos;
                }
            }
        }
    }
}