@media (max-width:768px) {
    .index-articulo-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        .articulo1{
            h4{
                @include caract-h4;
            }
            p{
                font-size: 1.8rem;
            }
        }
        img{
            width: 85%;
            height: 85%;
        }
    }
    .index-seccion-secundaria{
        div{
            h3{
                @include caract-h3;
                font-size: 2.5rem;
            }
        }
        div{
            .sitios-web{
                padding-left: 0rem;
                .logo-google{
                    background-color: $color-fondo-logos;
                    border-radius: 5rem;
                    display: flex;
                    gap: 2rem;
                }
            }
        }
    }
}