@media (max-width:1024px) {
    .logo-mdn {
        display: none;
    }

    .logo-ingresar-index {
        display: none;
    }

    .index-header {
        width: 100%;
        height: 100%;
        gap: 1rem;
    }

    .titulo h1 {
        font-size: 4.5rem;
    }

    .index-navbar li a {
        font-size: 1.5rem;
    }

    .index-articulo-1 {
        padding: 1rem;
    }


    .info-footer {
        display: grid;
        grid-template-columns: repeat(2 1fr);
        grid-template-rows: 1fr;
        grid-template-areas:
            "preguntas-footer buscador-footer";
        margin-bottom: 1rem;
    }

    .preguntas-footer {
        grid-area: preguntas-footer;
        justify-content: left;
    }

    .buscador-footer {
        grid-area: buscador-footer;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}