@media (max-width:320px) {
    .container-fluid{
        width: 100%;
        padding: 0rem;
        .d-flex{
            .col-md-3{
                .d-inline-flex{
                    @include caract-h1;
                    color: $color-h1;
                    font-size: 4.5rem;
                }
            }
            .nav{
                li{
                    a{
                        @include etiqueta-ancla;
                        color: beige;
                        text-shadow: 0.2rem 0.2rem 0.2rem rgb(167, 122, 77);
                    }
                }
            }
        }
    }
    .index-main{
        .index-seccion-principal{
            div{
                h2{
                    @include caract-h2;
                    color: $color-h2;
                }
                h3{
                    @include caract-h3;
                    color: $color-h3;
                    font-size: 1.8rem;
                    text-align: center;
                }
            }
            div{
                .index-articulo-1{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
                .articulo1{
                    h4{
                        @include caract-h4;
                    }
                    .parrafo1{
                        text-align: center;
                        font-size: 1.7rem;
                    }
                    .parrafo2{
                        display: none;
                    }
                    .parrafo3{
                        font-size: 1.7rem;
                    }
                }
            }
        }
        .index-seccion-secundaria{
            div{
                h3{
                    @include caract-h3;
                    font-size: 2.2rem;
                }
            }
            div{
                .sitios-web{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 1rem;
                    padding-bottom: 1rem;
                    padding-left: 0rem;
                    .logo-google{
                        background-color: $color-fondo-logos;
                        border-radius: 5rem;
                    }
                }
            }
        }
    }
    .footer{
        .container{
            .pt-4{
                .logo-w{
                    display: block;
                    width: 3.5rem;
                    height: 3.5rem;
                    overflow-x: hidden;
                    object-fit: contain;
                    position: fixed;
                    right: 2rem;
                    bottom: 3rem;
                }
            }
        }
    }
}