@media(max-width:425px){
    .buscador-ingresar{
        display: none;
    }
    .logo-mdn-ingresar{
        display: none;
    }
    .logo-ingresar-ingresar{
        display: none;
    }
    .ingresar-header{
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .titulo-ingresar h1 a{
        font-size: 5.2rem;
        text-shadow: 0.4rem 0.3rem 0.3rem rgb(167, 1, 173);
    }
    .ingresar-navbar a{
        text-shadow: 0.2rem 0.2rem 0.2rem rgb(237, 129, 21);
    }
    .ingresar-navbar{
        background-color:rgba(0, 0, 0, 0.325);
        border-radius: 0.8rem;
        display: flex;
        justify-content: space-around;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }
    .ingresar-header img{
        display: flex;
        flex-direction: row;
        width: 2.7rem;
        height: 2.7rem;
        border-radius: 2rem;
        background-color: rgba(255, 255, 255, 0.303);
        object-fit: contain;
        justify-items: center;
        align-items: center;
        padding: 0.2rem;
    }
    .btn{
        text-transform: uppercase;
    }
    .info-footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .footer h3{
        color: black;
        text-shadow: 0.2rem 0.2rem 0.2rem rgb(92, 71, 50);
    }
    .listado-footer{
        font-weight: 400;
        text-shadow: 0.2rem 0.2rem 0.2rem rgb(92, 71, 50);
    }
}
