@media(max-width:2520px) {
    .container-fluid {
        width: 100%;
        padding: 0rem;
        .d-flex {
            .col-md-3 {
                .d-inline-flex {
                    @include caract-h1;
                    color: $color-h1;
                    font-size: 5.5rem;
                    padding-left: 2.8rem;
                }
            }
            .nav {
                display: flex;
                gap: 1rem;
                li {
                    a {
                        font-size: 1.75rem;
                        @include etiqueta-ancla;
                        color: beige;
                        text-shadow: 0.2rem 0.2rem 0.2rem rgb(167, 122, 77);
                    }
                }
            }
            .buscador-ingresar{
                padding-right: 2.8rem;
            }
        }
    }
    .logo-w {
        img{
            width: 5rem;
            height: 5rem;
            position: fixed;
            right: 1.5rem;
            bottom: 7rem;
        }
    }
}