@media(max-width:376px) {
    .container-fluid {
        width: 100%;
        padding: 0rem;
        .d-flex {
            .col-md-3 {
                .d-inline-flex {
                    @include caract-h1;
                    color: $color-h1;
                    font-size: 4.5rem;
                }
            }
            .nav {
                display: flex;
                gap: 1rem;
                li {
                    a {
                        @include etiqueta-ancla;
                        color: beige;
                        text-shadow: 0.2rem 0.2rem 0.2rem rgb(167, 122, 77);
                    }
                }
            }
        }
    }
}