@media(max-width:768px){
    .container-fluid{
        .d-flex{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .col-md-3{
                display: flex;
                justify-content: center;
                align-items: center;
                .d-inline-flex{
                    .text-decoration{
                        text-align: center;
                    }
                }
            }
        }
    }
}