.footer{
    background-color: $color-fondo-footer;
    border-top: 0.2rem solid rgba(0, 0, 0, 0.221);
    .container{
        .pt-4{
            .row{
                .col-6{
                    width: auto;
                    h5{
                        color: black;
                        font-size: 2rem;
                        text-shadow: 0.2rem 0.2rem 0.2rem rgba(210, 105, 30, 0.7);
                    }
                    .nav{
                        list-style: none;
                        text-decoration: none;
                        .nav-item{
                            font-size: 1.5rem;
                            text-shadow: 0.2rem 0.2rem 0.2rem rgba(210, 105, 30, 0.7);
                        }
                    }
                }
                .col-md-5{
                    flex-direction: column;
                    justify-content: center;
                    align-content: center;
                    padding-top: 5rem;
                    h5{
                        color: black;
                        font-size: 1.5rem;
                        text-shadow: 0.2rem 0.2rem 0.2rem rgba(210, 105, 30, 0.7);
                    }
                    form{
                        width: 100%;
                    }
                }
            }
            .container-fluid{
                p{
                    color: black;
                }
            }
        }
    }
    .logo-w{
        @include etiqueta-ancla;
            width: 4.5rem;
            height: 4.5rem;
            position: fixed;
            right: 3rem;
            bottom: 5rem;
    }
}