/* variables = un espacio de memoria */
$color-h1: rgb(241, 121, 121);
$color-h2: rgb(155, 51, 155);
$color-h3: beige;
$color-fondo-footer: rgba(128, 128, 128, 0.388);
$borde-color: 0.2rem solid rgba(0, 0, 0, 0.818);
$color-listado-footer: black;
$color-fondo-pie-de-pag:rgba(0, 0, 0, 0.682);
$color-fondo-logos:rgba(128, 128, 128, 0.403);