@media (max-width:1024px){
    .mas-de-nosotros-main{
        .mas-de-nosotros-logo{
            .img-logos{
                gap: 2rem;
                .img-1{
                    width: 26rem;
                    height: 26rem;
                    padding: 2.2rem;
                }
                .img-2{
                    width: 26rem;
                    height: 26rem;
                    padding: 2.2rem;
                }
                .img-3{
                    width: 26rem;
                    height: 26rem;
                    padding: 2.2rem;
                }
                .img-4{
                    width: 26rem;
                    height: 26rem;
                    padding: 2.2rem;
                }
                .img-5{
                    width: 26rem;
                    height: 26rem;
                    padding: 2.2rem;
                }
            }
        }
        .contacto{
            .info-mdn{
                .articulo-info{
                    gap: 4rem;
                }
            }
        }
    }
}